<% layout('../layout/basicLayout') -%>

    <body class="bg-light">
        <div class="container my-4">
            <h3 class="mb-4">All Listings</h3>
            <div class="row">
                <% for(let list of allListings) { %>
                    <div class="col-12 col-sm-4 col-lg-3 mb-4 listitem">
                        <a href="/listings/<%= list._id %>" class="text-decoration-none text-dark">
                            <div class="card h-100 shadow-sm cardhome">
                                <img src="<%= list.image.url || 'https://via.placeholder.com/300x200' %>"
                                    class="card-img-top showimg" alt="<%= list.title %>">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= list.title %>
                                    </h5>
                                    <p class="card-text">
                                        <%= list.description?.slice(0, 60) || "No description provided." %>...
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </div>
        </div>
    </body>