<% layout('../layout/basicLayout') -%>

<body class="bg-light">

  
  <div class="return-home position-fixed top-0 end-0 m-3">
    <form method="get" action="/home">
      <button class="btn btn-outline-primary">
        <i class="fas fa-home"></i>
      </button>
    </form>
  </div>

  
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        
        <div class="card shadow-sm" style="width: 100%;">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="...">

          <form method="post" action="/listings/<%= listing._id %>?_method=PATCH">
            <div class="card-body">
              <div class="mb-3">
                <label class="form-label"><b>Title</b></label>
                <input name="Listing[title]" class="form-control" value="<%= listing.title %>">
              </div>

              <div class="mb-3">
                <label class="form-label"><b>Description</b></label>
                <textarea name="Listing[description]" class="form-control" rows="3"><%= listing.description %></textarea>
              </div>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <label><b>Price</b></label>
                <input name="Listing[price]" type="number" class="form-control" value="<%= listing.price %>">
              </li>
              <li class="list-group-item">
                <label><b>Updated image</b></label>
                <input name="Listing[image][url]" type="text" class="form-control">
              </li>
              <li class="list-group-item">
                <label><b>Location</b></label>
                <input name="Listing[location]" class="form-control" value="<%= listing.location %>">
              </li>
              <li class="list-group-item">
                <label><b>Country</b></label>
                <input name="Listing[country]" class="form-control" value="<%= listing.country %>">
              </li>
            </ul>

            <div class="d-flex justify-content-center p-3">
              <button type="submit" class="btn btn-success w-100">Update Listing</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
